<div class="navbar">
<nav class="uk-navbar-container" uk-navbar>
    <div class="uk-navbar-left mobileDisplay">
        <ul class="uk-navbar-nav">
            {{ $currentPage := . }}
            {{ range .Site.Menus.left }}
                <li class="{{ if $currentPage.IsMenuCurrent "left" . }}active{{ end }}"><a href="{{ .URL }}"><i class="fas fa-paint-brush uk-margin-small-right"></i>{{ .Title }}</a></li>
            {{ end }}
            <li><a href="https://oatandjam.bandcamp.com"><i class="fas fa-music uk-margin-small-right"></i>music</a></li>
            <li><a href="https://www.github.com/oatandjam"><i class="fas fa-code uk-margin-small-right"></i>code</a></li>
        </ul>
    </div>
    <div class="uk-navbar-center">
        <ul class="uk-navbar-nav">
            <a href="/">
                <svg class="uk-logo" id="Layer_1" data-name="Layer 1" xmlns="http://www.w3.org/2000/svg" viewBox="0 -20 330 100"><defs><style>.cls-1{font-size:60px;fill:#f34d3e;font-family:Poppins-Bold, Poppins;font-weight:700;letter-spacing:-0.04em;}</style></defs><text class="cls-1" transform="translate(0 51.15)">oatandjam</text></svg>
            </a>
        </ul>
    </div>
    <div class="uk-navbar-right mobileDisplay">
        <ul class="uk-navbar-nav">
            {{ $currentPage := . }}
            {{ range .Site.Menus.right }}
                <li class="{{ if $currentPage.IsMenuCurrent "right" . }}active{{ end }}"><a href="{{ .URL }}">{{ .Title }}</a></li>
            {{ end }}
        </ul>
    </div>
    <button class="uk-button uk-button-default hamburger" type="button" uk-toggle="target: #offcanvas-nav"><i class="fas fa-bars"></i></button>
    <div id="offcanvas-nav" uk-offcanvas="overlay: true">
        <div class="uk-offcanvas-bar">
            <ul class="uk-nav uk-nav-default">
                {{ $currentPage := . }}
                {{ range .Site.Menus.left }}
                    <li class="{{ if $currentPage.IsMenuCurrent "left" . }}active{{ end }}"><a href="{{ .URL }}"><i class="fas fa-paint-brush uk-margin-small-right"></i>&nbsp;{{ .Title }}</a></li>
                {{ end }}
                <li><a href="https://oatandjam.bandcamp.com"><i class="fas fa-music uk-margin-small-right"></i>&nbsp;music</a></li>
                <li><a href="https://www.github.com/oatandjam"><i class="fas fa-code uk-margin-small-right"></i>&nbsp;code</a></li>
                <li class="uk-nav-divider"></li>
                {{ $currentPage := . }}
                {{ range .Site.Menus.right }}
                    <li class="{{ if $currentPage.IsMenuCurrent "right" . }}active{{ end }}"><a href="{{ .URL }}">{{ .Title }}</a></li>
                {{ end }}
            </ul>
        </div>
    </div>
    </div>
</nav> 