/*
colours

red #f34d3e


*/
:root {
    --accent-bg-color: #f34d3e;
}

::selection {
    background: #363d55!important;
}

body::-webkit-scrollbar {
    width: 15px;               /* width of the entire scrollbar */
}
  
body::-webkit-scrollbar-track {
    background: #14171d;   
}
  
body::-webkit-scrollbar-thumb {
    background-color: #161b21;  
    border-radius: 20px;
    border: solid #363d55 1px;
}

body {
    height: fit-content;
    background-color: #161b21;
    height: 100%;
    display: grid;
    grid-template-rows: auto 1fr auto;
    font-kerning: auto;
}

html {
    height: 100%;
    background-color: #161b21!important;
    scroll-behavior: smooth;
}

h1, h2, h3 {
    font-family: Poppins!important;
    font-weight: 700!important;
}

p {
    font-family: Jost!important;
    font-size: 1.1rem;
}

.uk-container p {
    margin-top: 15px!important;
    margin-bottom: 15px!important;
}

#content a {
    font-family: Jost!important;
    text-decoration: none!important;
    box-shadow: 0 1px 0 #fff;
}

#content a:hover {
    box-shadow: 0 1px 0 var(--accent-bg-color);
    color: #fff;
}

.imgThumb > a {
    box-shadow: none!important;
}

.uk-navbar-container {
    max-width: 1250px;
    height: 50px;
    background-color:  #14171d!important;
    margin-left: auto;
    margin-right: auto;
}


.navbar {
    background-color:  #14171d!important;
    /*box-shadow: 0px 5px 18px rgba(0,0,0,0.3);*/
    margin-bottom: 20px;
}


.uk-navbar-nav > li.active {
    background-color: #13151b;
}

.uk-navbar-nav > li > a {
    min-height: 10px!important;
    padding-top: 15px!important;
    padding-bottom: 14px!important;
    font-family: 'Jost', sans-serif!important;
} 


.uk-logo {
    height: 40px;
    width: auto!important;
    display: flex;
    justify-content: center;
    align-items: center;
}
.uk-navbar-dropdown {
    background: #14171d!important;
    border-bottom: solid 2px var(--accent-bg-color);
}
.uk-container {
    background:#14171d;
    border-radius: 15pt;
    margin-top: 20px;
    padding-top: 25px;
    padding-bottom: 25px;
    padding-left: 25px!important;
    padding-right: 25px!important;
}

.uk-container * {
    color: rgb(250, 235, 235);
}

.mainContain {
    margin-left: 20px;
    margin-right: 20px;
}

.hamburger {
    display: none!important;
    border: none!important;
    line-height: 0px!important;
    padding: 0px 20px!important;
}

.hamburger * {
    color: var(--accent-bg-color);;
    font-size: 20px;
}

.hamburger:hover  * {
    color: #fff!important;
    font-size: 20px;
}

.hamburger:hover {
    background-color: var(--accent-bg-color)!important;
}

@media only screen and (max-width: 1000px) {
    .uk-navbar-right,
    .uk-navbar-left {
        display: none!important;
    }
    .hamburger {
        display: block!important;
    }
    .uk-offcanvas-bar {
        display: block!important;
    }
    
}


.uk-offcanvas-bar {
    background: #14171d!important;
    border-right: solid 2px var(--accent-bg-color);
    display: none;
    box-shadow: 0 0 40px 20px rgba(0, 0, 0, 0.4);

}

.uk-alert {
    max-width: 1235px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 0px!important;
    box-shadow: 0 0 20px 0px rgba(5, 5, 7, 0.2);
}

.uk-alert * {
    font-family: poppins;
    font-size: 1.1rem!important;
    font-weight: 700!important;
}

.uk-alert-warning {
    border-radius: 5pt;
    background: var(--accent-bg-color)!important;
}
.uk-alert-warning * {
    color: rgba(0, 0, 0, 0.5);
    font-weight: bold;
}
DIV.uk-alert-warning  a:hover {
    color: rgba(0, 0, 0, 0.7)!important;
}

footer {
    height: 30px;
    width: 100%;
    bottom: 0;
    text-align: center;
    padding-top: 5px;
    color: rgba(0, 0, 0, 0.4);;
    background: #161b21;
    z-index: 100;
    margin-top: 40px;
}

footer * {
    color: rgba(255, 255, 255, 0.1);
    font-size: 1rem;
    text-decoration: none;

} 

footer span {
    padding-right: 1em;
}


DIV.imgThumb > a > img {
    max-width:270px!important;
    border-radius: 5pt;
    box-shadow: 0 0 20px 2px rgba(0, 0, 0, 0.3);
    transition: 250ms cubic-bezier(0.68,-0.55,0.27,1.55);
}
 
DIV.imgThumb > a > img:hover {
    /*border: solid 2px var(--accent-bg-color)!important;*/ 
    transform:scale(1.1);
    box-shadow: 0 0 30px 5px rgba(0, 0, 0, 0.7);
}

.active a {
    color: var(--accent-bg-color)!important;
    font-weight: bold;
}


@media screen and (max-width: 1340px) {
    DIV.imgThumb > a > img {
        max-width: 19.5vw!important;
    }

}

@media screen and (max-width: 1000px) {
    DIV.imgThumb > a > img {
        max-width: 100%!important;
    }
    DIV.cent {
        margin-left: auto;
        margin-right: auto;
    }
    .imgThumb {
        padding: 0!important;
    }
}

.uk-navbar-nav a:hover {
    color: var(--accent-bg-color)!important;
}


img {
    border-radius: 5pt;
}
#main > img, #content > p > img {
    margin: 10px 0 10px 0;
}

.uk-lightbox {
    background: #14171d!important;
}

.uk-lightbox-items>*>* {
    max-width: 90vw!important;
    max-height: 90vh!important;
}

.uk-lightbox-button {
    background: #161b21!important;
    border-radius: 5pt!important;
    box-shadow: 0 0 20px 2px rgba(0, 0, 0, 0.2);
}

.uk-lightbox-button:hover {
    border: 1px solid var(--accent-bg-color);
}

.uk-lightbox-toolbar.uk-position-top {
    background: none!important;
}

p.date, p.date * {
    color: #898ea1;
}

#tags * {
    color: #898ea1;
}

button.bigRedButton {
    background: var(--accent-bg-color);
    border: none;
    padding: 10px 25px 10px 25px;
    border-radius: 6pt;
    width: 250px;
    height: 70px;
    box-shadow: -3px 3px 0px 1px rgba(0, 0, 0, 0.4);
    margin: 0px 0px 3px 3px;
}

button.bigRedButton:hover {
    box-shadow: none;
    margin: 0px 0px 3px 0px;

}

button.bigRedButton > h1 {
    padding: 0!important;
    margin: 0!important;
}

button.bigRedButton > h1 > a {
    color: #fff!important;
}

button.bigRedButton > h1 > a:hover {
    color: #fff!important;
    text-decoration: none!important;
}

img#panther {
    position: absolute;
    bottom: 0;
    max-height: 250px;
    right: 0;
}
hr {
    border: solid #1a2027 1px!important;
}

.homepage-content > h1,
.homepage-content > h2,
.homepage-content > h3 {
    color: #ff5d4f;
}
